body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h2 {
    color: darkblue;
}

form {
    width: 360px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 8px;
    width: 100%;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

#message {
    margin-top: 15px;
    font-weight: bold;
    color: red;
}
